@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation::after {
    transform-origin: bottom right;
}

.hover-underline-animation:hover::after {
    transform-origin: bottom left;
}


.hover-underline-animation-black {
    display: inline-block;
    position: relative;
}

.hover-underline-animation-black::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-black:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation-black::after {
    transform-origin: bottom right;
}

.hover-underline-animation-black:hover::after {
    transform-origin: bottom left;
}